<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">

        <title>Alta Dispositivo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="css/styles.css" rel="stylesheet" />
    </head>
</head>
<body>
<div class="container">
    <div class="card card-container">
        <form class="form-signin" method="post" action="${pageContext.request.contextPath}/submitAlta">
            <input type="text" id="inputNombre" name="dispositivo" class="form-control" placeholder="Nombre Dispositivo" required autofocus>
            <input type="text" id="inputKw" name="kwPorHora" class="form-control" placeholder="Kw por Hora" required>
            <label for="InputCheck">¿Es Inteligente?</label>
            <input type="checkbox" name="Inteligente" var="Inteligente" id="inputCheck" class="form-control" value="1">
            <label for="InputCheck">¿Es de Bajo Consumo?</label>
            <input type="checkbox" name="Bajo consumo" var="Bajo consumo" id="inputCheck" class="form-control" value="1">

            <c:choose>
                <c:when test="${empty msg}">

                </c:when>
                <c:otherwise>
                    <div class="alert alert-danger" role="alert">
                            ${msg}
                    </div>
                </c:otherwise>
            </c:choose>

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Agregar Tipo Dispositivo</button>


        </form>
    </div>
</div>

</body>
</html>
