<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Info de hogar</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css"  />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../css/leaflet.css">
    <script src="../../js/leaflet.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"> <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-user white" th:inline="text" >  </span>   ¡Bienvenido [[${session.username}]]!</a></li>
            </ul>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/mapa/">Mapa </a></li>
            <li ><a href="/cliente/estadoHogar/">Estado del hogar </a></li>
            <li class="active"><a href="/cliente/calculoDeConsumo/">Consumo Periodo </a></li>
            <li><a href="/cliente/simplex/">Ejecutar Simplex </a></li>
            <li><a href="/cliente/abmReglas/">ABM Reglas </a></li>
            <li><a href="/cliente/abmDispositivos/">ABM Dispositivos </a></li>
        </ul>

        <div class="floatright">
            <ul class="nav navbar-nav">
                <li><a class="avbar-brand" href="/logout">Log out  <span class="glyphicon glyphicon-log-out"></span></a>
            </ul>
        </div>

    </div>
</nav>
    <form action="/cliente/calculoDeConsumo/submit" method="get">
        <div>
            <label>Fecha de inicio: </label>
            <input type="date" name="inicio"/>
        </div>
        <div>
            <label>Fecha de fin: </label>
            <input type="date" name="fin"/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Calcular consumo</button>
    </form>
    <div th:if="${consumo} != ''">
        <label>El consumo desde </label>
        <label th:text="${inicio}"></label>
        <label> hasta </label>
        <label th:text="${fin}"></label>
        <label> fue de: </label>
        <label th:text="${consumo}"></label>
    </div>
</body>
</html>