<html>
<head>
    <title>Subir archivo</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Carga de archivo de dispositivos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
<h1>Subir archivo</h1>
<form action = "/cliente/abmDispositivos/altaDesdeArchivo/submit" method = "post" enctype = "multipart/form-data">
    <input  type = "file" name = "file" size = "50" />
    <br />
    <input class="btn-dark" type = "submit" value = "Upload File" />
</form>
</body>

</html>