<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Cliente</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="js/bootstrap.min.js">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"> <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-user white" th:inline="text" >  </span>   ¡Bienvenido [[${session.username}]]!</a></li>
            </ul>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/mapa/">Mapa </a></li>
        </ul>

        <div class="floatright">
            <ul class="nav navbar-nav">
                <li><a class="avbar-brand" href="/logout">Log out  <span class="glyphicon glyphicon-log-out"></span></a>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <div class="card card-container">
        <form class="form-signin" method="get" action="/cliente/estadoHogar/">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Estado del Hogar</button>
        </form>

        <!-- Consumo de cliente luego de seleccionar un periodo -->
        <form class="form-signin" method="get" action="/cliente/calculoDeConsumo/">
            <button class="btn btn-lg btn-primary btn-block btn-signin " type="submit">Consumo Periodo</button>
        </form>

        <form class="form-signin" method="get" action="/cliente/simplex/" >
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ejecutar Simplex</button>
        </form>

        <form class="form-signin" method="get" action="/cliente/abmReglas/">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">ABM Reglas</button>
        </form>

        <form class="form-signin" method="get" action="/cliente/abmDispositivos/">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">ABM Dispositivos</button>
        </form>
    </div>
</div>

</body>
</html>
