<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Cliente</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"  />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"> <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon glyphicon glyphicon-home white">  </span> &nbsp; SGE  </a></li>
            </ul>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/mapa/">Mapa </a></li>
            <li><a href="/cliente/estadoHogar/">Estado del hogar </a></li>
            <li><a href="/cliente/calculoDeConsumo/">Consumo Periodo </a></li>
            <li><a href="/cliente/simplex/">Ejecutar Simplex </a></li>
            <li><a href="/cliente/abmReglas/">ABM Reglas </a></li>
            <li><a href="/cliente/abmDispositivos/">ABM Dispositivos </a></li>
        </ul>

        <div class="floatright">
            <ul class="nav navbar-nav">
                <li><a class="avbar-brand" href="/logout">Log out  <span class="glyphicon glyphicon-log-out"></span></a>
            </ul>
        </div>

    </div>
</nav>
<div class="alert alert-success alert-dismissable" th:inline="text">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     ¡Bienvenido <strong>[[${session.username}]]!</strong>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 th:inline="text"> [[${cliente.nombre}]]</h4>
                        <small><cite title="Domicilio" th:inline="text">[[${cliente.domicilio}]] <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"th:inline="text"></i>  [[${cliente.telefono}]]
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com" th:inline="text">  [[${cliente.documento.numeroDeDocumento}]]</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"th:inline="text"></i>  [[${cliente.fechaDeAlta}]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${cliente.getAhorroAutomatico() == false}">
        <form method="get" action="/cliente/ahorroAutomatico/habilitar">
            <button class="btn btn-lg btn-primary btn-block btn-signin center" type="submit" style="width:20%">Habilitar ahorro automatico</button>
        </form>
    </div>
    <div th:if="${cliente.getAhorroAutomatico() == true}">
        <form method="get" action="/cliente/ahorroAutomatico/deshabilitar">
            <button class="btn btn-lg btn-primary btn-block btn-signin center" type="submit" style="width:20%">Deshabilitar ahorro automatico</button>
        </form>
    </div>
</div>




</body>
</html>
