<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <h4><span class="glyphicon glyphicon-user white"> ${userFormData.username} </span></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">Bienvenido!</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item float-right">
                <h4><a class="nav-link" href="/logout">Salir</a></h4>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="card card-container">
        <form class="form-signin" method="get" action="cliente/estadoHogar">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Estado del Hogar</button>
        </form>

        <!-- Consumo de cliente luego de seleccionar un periodo -->
        <form class="form-signin" method="get" action="/cliente/calculoDeConsumo">
            <button class="btn btn-lg btn-primary btn-block btn-signin " type="submit">Consumo Periodo</button>
        </form>

        <form class="form-signin" method="get" action="/cliente/cargaDeDispositivoDesdeArchivo">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Cargar Archivo Dispositivos</button>
        </form>

        <form class="form-signin" method="get" action="/cliente/simplex" >
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ejecutar Simplex</button>
        </form>

        <form class="form-signin" method="get" action="/cliente/abmReglas">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">ABM Reglas</button>
        </form>

        <form class="form-signin" method="get" action="/cliente/abmDispositivos">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">ABM Dispositivos</button>
        </form>
    </div>
</div>

</body>
</html>
