<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ABM de reglas</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css"  />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
</head>

<body>
<form class="form-signin" method="get" action="/cliente/abmDispositivos">
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Volver</button>
</form>

<form method="get" action="/cliente/abmDispositivos/altaInteligente/submit">
    <div>
        <h3>Catalogo</h3>
        <select title="catalogo" name="catalogo">
            <option th:each="item : ${catalogo}" th:value="${item.id}" th:text="${item.nombre}"></option>
        </select>
    </div>
    <label>Nombre del dispositivo: </label>
    <input title="nombre" type="text" name="nombre"/>

    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Guardar</button>
</form>
</body>
</html>