<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>ABM de dispositivos</title>
        <link rel="stylesheet" type="text/css" href="../../css/styles.css"  />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="active"> <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-user white" th:inline="text" >  </span>   ¡Bienvenido [[${session.username}]]!</a></li>
                </ul>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="/mapa/">Mapa </a></li>
                <li><a href="/cliente/estadoHogar/">Estado del hogar </a></li>
                <li><a href="/cliente/calculoDeConsumo/">Consumo Periodo </a></li>
                <li><a href="/cliente/simplex/">Ejecutar Simplex </a></li>
                <li><a href="/cliente/abmReglas/">ABM Reglas </a></li>
                <li class="active"><a href="/cliente/abmDispositivos/">ABM Dispositivos </a></li>
            </ul>

            <div class="floatright">
                <ul class="nav navbar-nav">
                    <li><a class="avbar-brand" href="/logout">Log out  <span class="glyphicon glyphicon-log-out"></span></a>
                </ul>
            </div>

        </div>
    </nav>

        <form class="form-signin" method="get" action="/cliente/abmDispositivos/altaInteligente">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Dar de alta dispositivo inteligente</button>
        </form>
        <form class="form-signin" method="get" action="/cliente/abmDispositivos/altaEstandar">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Dar de alta dispositivo estandar</button>
        </form>

        <form class="form-signin" method="get" action="/cliente/abmDispositivos/altaDesdeArchivo">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Dar de alta dispositivo desde archivo</button>
        </form>

        <div th:if="${dispositivosInteligentes.size() > 0}">
            <h3>Dispositivos Inteligentes del cliente</h3>
            <table style="width:100%">
                <tr>
                    <th>Id</th>
                    <th>Kw que consume por hora</th>
                    <th>Nombre de dispositivo</th>
                    <th>Nombre del item del catalogo</th>
                    <th>Estado del dispositivo</th>
                    <th>Consumo en el ultimo mes</th>
                    <th>Uso en el ultimo mes</th>
                    <th></th>
                    <th></th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="dispositivoInteligente : ${dispositivosInteligentes}">
                    <td th:text="${dispositivoInteligente.id}"></td>
                    <td th:text="${dispositivoInteligente.itemDeCatalogoDeDispositivos.getConsumo()}"></td>
                    <td th:text="${dispositivoInteligente.nombreDelDispositivo}"></td>
                    <td th:text="${dispositivoInteligente.itemDeCatalogoDeDispositivos.getNombre()}"></td>
                    <td th:text="${dispositivoInteligente.obtenerEstadoDelDispositivo().name()}"></td>
                    <td th:text="${dispositivoInteligente.cantidadDeEnergiaConsumidaEnElUltimoMes().doubleValue()}"></td>
                    <td th:text="${dispositivoInteligente.cantidadDeHorasUsadoEnElUltimoMes().doubleValue()}"></td>
                    <td th:if="${!dispositivoInteligente.obtenerEstadoDelDispositivo().name().equals('PRENDIDO')}">
                        <form method="get" action="/cliente/abmDispositivos/encender">
                            <input type="hidden" name="id" th:value="${dispositivoInteligente.id}"/>
                            <button class="btn" type="submit">Encender</button>
                        </form>
                    </td>
                    <td th:if="${!dispositivoInteligente.obtenerEstadoDelDispositivo().name().equals('APAGADO')}">
                        <form method="get" action="/cliente/abmDispositivos/apagar">
                            <input type="hidden" name="id" th:value="${dispositivoInteligente.id}"/>
                            <button class="btn" type="submit">Apagar</button>
                        </form>
                    </td>
                    <td th:if="${!dispositivoInteligente.obtenerEstadoDelDispositivo().name().equals('MODO_AHORRO')}">
                        <form method="get" action="/cliente/abmDispositivos/modoAhorro">
                            <input type="hidden" name="id" th:value="${dispositivoInteligente.id}"/>
                            <button class="btn" type="submit">Modo ahorro</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" action="/cliente/abmDispositivos/baja/submit">
                            <input type="hidden" name="id" th:value="${dispositivoInteligente.id}"/>
                            <button class="btn" type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${dispositivosEstandar.size() > 0}">
            <h3>Dispositivos Estandar del cliente</h3>
            <table style="width:100%">
                <tr>
                    <th>Id</th>
                    <th>Kw que consume por hora</th>
                    <th>Nombre de dispositivo</th>
                    <th>Nombre del item del catalogo</th>
                    <th>Consumo aproximado diario en KW/H</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="dispositivoEstandar : ${dispositivosEstandar}">
                    <td th:text="${dispositivoEstandar.id}"></td>
                    <td th:text="${dispositivoEstandar.itemDeCatalogoDeDispositivos.getConsumo()}"></td>
                    <td th:text="${dispositivoEstandar.nombreDelDispositivo}"></td>
                    <td th:text="${dispositivoEstandar.itemDeCatalogoDeDispositivos.getNombre()}"></td>
                    <td th:text="${dispositivoEstandar.cantidadDeEnergiaConsumidaEnElUltimoMes()}"></td>
                    <td>
                        <form method="get" action="/cliente/abmDispositivos/baja/submit">
                            <input type="hidden" name="id" th:value="${dispositivoEstandar.id}"/>
                            <button class="btn" type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
