<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"> <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-user white" th:inline="text" >  </span>   ¡Bienvenido [[${session.username}]]!</a></li>
            </ul>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/mapa/">Mapa </a></li>
            <li><a href="/cliente/estadoHogar/">Estado del hogar </a></li>
            <li><a href="/cliente/calculoDeConsumo/">Consumo Periodo </a></li>
            <li class="active"><a href="/cliente/simplex/">Ejecutar Simplex </a></li>
            <li><a href="/cliente/abmReglas/">ABM Reglas </a></li>
            <li><a href="/cliente/abmDispositivos/">ABM Dispositivos </a></li>
        </ul>

        <div class="floatright">
            <ul class="nav navbar-nav">
                <li><a class="avbar-brand" href="/logout">Log out  <span class="glyphicon glyphicon-log-out"></span></a>
            </ul>
        </div>

    </div>
</nav>
    <div class="container">
        <table class="table table-dark small">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Dispositivo</th>
                <th scope="col">Recomendacion en horas</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="dispositivo,iter : ${dispositivos}">
                    <th scope="row" th:text="${dispositivo.id}"></th>
                    <td th:text="${dispositivo.nombreDelDispositivo}"></td>
                    <td th:text="${hogar.recomendacion[iter]}"> Horas</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
