<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Estado del hogar</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../js/bootstrap.min.js">
    <script src="../../js/jquery.min.js"></script>
</head>
<div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"> <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-user white" th:inline="text" >  </span>   ¡Bienvenido [[${session.username}]]!</a></li>
            </ul>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/mapa/">Mapa </a></li>
            <li class="active"><a href="/cliente/estadoHogar/">Estado del hogar </a></li>
            <li><a href="/cliente/calculoDeConsumo/">Consumo Periodo </a></li>
            <li><a href="/cliente/simplex/">Ejecutar Simplex </a></li>
            <li><a href="/cliente/abmReglas/">ABM Reglas </a></li>
            <li><a href="/cliente/abmDispositivos/">ABM Dispositivos </a></li>
        </ul>

        <div class="floatright">
            <ul class="nav navbar-nav">
                <li><a class="avbar-brand" href="/logout">Log out  <span class="glyphicon glyphicon-log-out"></span></a>
            </ul>
        </div>

    </div>
</nav>
    <div class="container">
<div id="estadoDeDispositivos">
    <h1 th:text="${'Consumo en el ultimo periodo:' + consumo}"></h1>
    <h3>Estado de los dispositivos</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Nombre del catalogo</th>
            <th>Estado</th>
            <th>Consumo por hora</th>
            <th>Consumo en el ultimo mes</th>
            <th>Uso en el ultimo mes</th>
        </tr>
        </thead>
        <tr th:each="dispositivo : ${dispositivos}">
            <td th:text="${dispositivo.itemDeCatalogoDeDispositivos.getConsumo()}"></td>
            <td th:text="${dispositivo.nombreDelDispositivo}"></td>
            <td th:text="${dispositivo.itemDeCatalogoDeDispositivos.getNombre()}"></td>
            <td th:text="${dispositivo.obtenerEstadoDelDispositivo().name()}"></td>
            <td th:text="${dispositivo.cantidadDeEnergiaConsumidaEnElUltimoMes().doubleValue()}"></td>
            <td th:text="${dispositivo.cantidadDeHorasUsadoEnElUltimoMes().doubleValue()}"></td>
        </tr>
    </table>
    <h3>Reglas activas</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Tipo de regla</th>
            <th>Dispositivo</th>
            <th>Accion</th>
            <th>Operador de la condicion</th>
            <th>Medicion esperada</th>
        </tr>
        </thead>
        <tr th:each="regla : ${reglas}">
            <td th:text="${regla.condicion.getClass().getSimpleName()}"></td>
            <td th:text="${regla.dispositivoInteligente.nombreDelDispositivo}"></td>
            <td th:text="${regla.accion.accionARealizar.toString()}"></td>
            <td th:text="${regla.condicion.operator.toString()}"></td>
            <td th:text="${regla.condicion.getMedicion()}"></td>
        </tr>
    </table>

    <h3>Ultimas mediciones</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Id de la medicion</th>
            <th>Nombre del dispositivo</th>
            <th>Id del sensor</th>
            <th>Medicion</th>
        </tr>
        </thead>
        <tr th:each="medicion : ${mediciones}">
            <td th:text="${medicion.id}"></td>
            <td th:text="${medicion.sensor.dispositivoInteligente.nombreDelDispositivo}"></td>
            <td th:text="${medicion.sensor.id}"></td>
            <td th:text="${medicion.getMedicion()}"></td>
        </tr>
    </table>
</div>
</div>
</body>
</html>