<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Estado del hogar</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../js/bootstrap.min.js">
    <script src="../../js/jquery.min.js"></script>
</head>
<div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"> <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-user white" th:inline="text" >  </span>   ¡Bienvenido [[${session.username}]]!</a></li>
            </ul>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/mapa/">Mapa </a></li>
            <li class="active"><a href="/cliente/estadoHogar/">Estado del hogar </a></li>
            <li><a href="/cliente/calculoDeConsumo/">Consumo Periodo </a></li>
            <li><a href="/cliente/simplex/">Ejecutar Simplex </a></li>
            <li><a href="/cliente/abmReglas/">ABM Reglas </a></li>
            <li><a href="/cliente/abmDispositivos/">ABM Dispositivos </a></li>
        </ul>

        <div class="floatright">
            <ul class="nav navbar-nav">
                <li><a class="avbar-brand" href="/logout">Log out  <span class="glyphicon glyphicon-log-out"></span></a>
            </ul>
        </div>

    </div>
</nav>
<div id="estadoDeDispositivos">
    <div style="width: 50%" id="Dispositivos" class="center">
        <h1>Estado de los dispositivos</h1>
        <table class="table table-dark">
            <tr>
                <td class="col-sm-3">Id</td>
                <td class="col-sm-3">Nombre</td>
                <td class="col-sm-3">Estado</td>
            </tr>
            <tr th:each="inteligente : ${dispositivosInteligentes}">
                <td class="col-sm-3" th:text="${inteligente.id}"> </td>
                <td class="col-sm-3" th:text="${inteligente.nombreDelDispositivo}"></td>
                <td class="col-sm-3" th:text="${inteligente.obtenerEstadoDelDispositivo()}"></td>
            </tr>
            <tr th:each="estandar : ${dispositivosEstandares}">
                <td class="col-sm-3" th:text="${estandar.id}"> </td>
                <td class="col-sm-3" th:text="${estandar.nombreDelDispositivo}"></td>
                <td class="col-sm-3"> - </td>
            </tr>
        </table>
    </div>

    <div style="width: 70%" id="Reglas" class="center">
        <h1>Reglas activas</h1>
        <table class="table table-dark">
            <tr>
                <th>Id de regla</th>
                <th>Id de dispositivo</th>
                <th>Sensor</th>
                <th>Accion</th>
                <th>Operador de la condicion</th>
                <th>Medicion esperada</th>
            </tr>
            <tr th:each="regla : ${reglas}">
                <td th:text="${regla.id}"></td>
                <td th:text="${regla.dispositivoInteligente.id}"></td>
                <td th:text="${regla.sensor.id}"></td>
                <td th:text="${regla.accion.id}"></td>
                <td th:text="${regla.condicion.operator}"></td>
                <td th:text="${regla.condicion.getMedicion()}"></td>
            </tr>
        </table>
    </div>

    <h1 th:text="${'Consumo en el ultimo periodo:' + consumo}"></h1>

    <div style="width: 50%" id="Mediciones" class="center">
        <h1>Ultimas mediciones</h1>
        <table class="table table-dark">
            <tr>
                <th>Id de la medicion</th>
                <th>Id del dispositivo</th>
                <th>Id del sensor</th>
                <th>Medicion</th>
            </tr>
            <tr th:each="medicion : ${mediciones}">
                <td th:text="${medicion.id}"></td>
                <td th:text="${medicion.id}"></td>
                <td th:text="${medicion.id}"></td>
                <td th:text="${medicion.id}"></td>
            </tr>
        </table>
    </div>
</div>
</div>
</body>
</html>