<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Info de hogar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
</head>
<body style="padding-left:20px;padding-right: 20px; ">

<h1 class="title" style="color: #ffffff; text-align: center;">Info de hogar</h1>
<div id="estadoDeDispositivos">
    <h1>Estado de los dispositivos</h1>
    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
        <tr th:each="dispositivo : ${dispositivos}">
            <td th:text="${dispositivo.id}"> </td>
            <td th:text="${dispositivo.nombreDelDispositivo}"></td>
        </tr>
    </table>
    <h1>Reglas activas</h1>
    <table style="width:100%">
        <tr>
            <th>Id de regla</th>
            <th>Id de dispositivo</th>
            <th>Sensor</th>
            <th>Accion</th>
            <th>Operador de la condicion</th>
            <th>Medicion esperada</th>
        </tr>
        <tr th:each="regla : ${reglas}">
            <td th:text="${regla.id}"></td>
            <td th:text="${regla.id}"></td>
            <td th:text="${regla.id}"></td>
            <td th:text="${regla.id}"></td>
            <td th:text="${regla.id}"></td>
            <td th:text="${regla.id}"></td>
        </tr>
    </table>
    <h1>Consumo en el ultimo periodo: ${consumo.toString()}</h1>
    <h1>Ultimas mediciones</h1>
    <table style="width:100%">
        <tr>
            <th>Id de la medicion</th>
            <th>Id del dispositivo</th>
            <th>Id del sensor</th>
            <th>Medicion</th>
        </tr>
        <tr th:each="medicion : ${mediciones}">
            <td th:text="${medicion.id}"></td>
            <td th:text="${medicion.id}"></td>
            <td th:text="${medicion.id}"></td>
            <td th:text="${medicion.id}"></td>
        </tr>
    </table>
</div>
</body>
</html>