<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"  />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../js/bootstrap.min.js">
    <script src="../js/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <h1 class="title" style="color: #ffffff; text-align: center;">Sistema de gestion energetica</h1>
    <h3 class="title" style="color: #ffffff; text-align: center;">Cliente</h3>

    <hr>
    <div class="card card-container">
        <form class="form-signin" method="post" action="/loginCliente/submit">
            <input type="text" id="inputUsuario" name="username" class="form-control" placeholder="Usuario" required autofocus>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contrasena" required>
            <div th:if="${errorMessage} != ''">
                <label th:text="${errorMessage}"></label>
            </div>

            <button class="btn btn-primary btn-xl" type="submit">Ingresar</button>

        </form>
    </div>
    <div id = "MapAndAdmin" style="text-align: center">
        <form>
            <button  type="submit" class="btn btn-danger btn-circle btn-xl" title="Ir al mapa" formaction="/mapa/"> <i class="glyphicon glyphicon-map-marker"></i>
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button  type="submit" class="btn btn-info btn-circle btn-xl" title="Ir a login de administrador" formaction="/loginAdmin/"> <i class="glyphicon glyphicon-user"></i>
            </button>
        </form>
    </div>
</div>
</body>
</html>
