<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Mapa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"  />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/leaflet.css">
    <script src="../js/leaflet.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css">
</head>
<body>

<script th:inline="javascript">

    $( document ).ready(function() {
        mapa = L.map('mapa', {
            center: [-34.598313, -58.463745],
            zoom: 10,
            minZoom: 4,
            maxZoom:17,
            zoomControl:true
        });
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: ''}).addTo(mapa);

        //<![CDATA[
            /*[# th:each="entity : ${list}"]*/
                var marker = L.marker(L.latLng(parseFloat("[(${entity.latitud})]"), parseFloat("[(${entity.longitud})]"))).addTo(mapa).bindPopup("<label class=\"title\" style=\"color: #7a7f87; text-align: center;\">\"[(${entity.consumo})]\" </label>");
            /*[/]*/
        //]]>

    });
</script>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="navbar-brand active"> <span class="glyphicon glyphicon glyphicon-pawn white" th:inline="text" >   </span>   Mapa de Transformadores</li>
            </ul>
        </div>

        <div class="floatright">
            <ul class="nav navbar-nav">
                <li><a class="avbar-brand" href="/logout">Volver a login  <span class="glyphicon glyphicon-arrow-left"></span></a>
            </ul>
        </div>

    </div>
</nav>

<div id="mapa" style="height: 550px">
</div>
</body>
</html>
