<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Reportes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"  />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<h1>Reportes</h1>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"> <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-user white" th:inline="text" >  </span>   ¡Bienvenido [[${session.username}]]!</a></li>
            </ul>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/mapa/">Mapa </a></li>
            <li><a href="/admin/verHogaresYConsumos">Visualizar Hogares y Consumos </a></li>
            <li class="active"><a href="/admin/reportes">Reportes </a></li>
            <li><a href="/admin/abmCatalogoDispositivos/">Ir a ABM de dispositivos </a></li>
        </ul>

        <div class="floatright">
            <ul class="nav navbar-nav">
                <li><a class="avbar-brand" href="/logout">Log out  <span class="glyphicon glyphicon-log-out"></span></a>
            </ul>
        </div>

    </div>
</nav>
<div id="estadoDeDispositivos">
    <div style="width: 50%" id="Reglas" class="center">
<div class="panel panel-primary">
    <div class="panel-heading">Reportes</div>
    <div class="panel-body">

    <form class="form-signin" method="get" action="/admin/reportes/consumoPorHogar">
        <input type="date" name="fechaInicioHogar" required>
        <input type="date" name="fechaFinHogar" required>
        <div class="btn-group">
        <button class="btn btn-lg btn-primary btn-block btn-signin " type="submit">Consumo por Hogar</button>
        </div>

    </form>
    <form class="form-signin" method="get" action="/admin/reportes//consumoPromedioPorTipo">
        <input type="date" name="fechaInicioPromedio" required>
        <input type="date" name="fechaFinPromedio" required>
        <div class="btn-group">
        <button class="btn btn-lg btn-primary btn-block btn-signin " type="submit">Consumo promedio por Tipo de Dispositivo</button>
        </div>
    </form>
    <form class="form-signin" method="get" action="/admin/reportes//consumoPorTransformador">
        <input type="date" name="fechaInicioTransformador" required>
        <input type="date" name="fechaFinTransformador" required>
        <div class="btn-group">
        <button class="btn btn-lg btn-primary btn-block btn-signin " type="submit">Consumo por Transformador</button>
        </div>
    </form>

    </div>
</div>
    </div>
</div>


    <div th:if="${reporteDeConsumoTotalPorHogar != null}">
        <table style="width:70%; margin-left:15%; margin-right:15%; text-align:center; background-color:snow; border: 1px solid black;">
            <tr>
                <th style="border: 1px solid black; text-align:center; ">Hogar</th>
                <th style="border: 1px solid black; text-align:center; ">Consumo</th>
            </tr>
            <tr th:each="map : ${reporteDeConsumoTotalPorHogar.mapaDeNombreYConsumo}">
                <td style="border: 1px solid black;" th:text="${map.key}"></td>
                <td style="border: 1px solid black;" th:text="${map.value}"></td>
            </tr>
        </table>
    </div>


    <div th:if="${reporteConsumoPromedioPorTipoDeDispositivo != null}">
        <h4>Consumo Promedio por Tipo de Dispositivo</h4>
        <table style="width:70%; margin-left:15%; margin-right:15%; text-align:center; background-color:snow; border: 1px solid black;">
            <tr>
                <th style="border: 1px solid black; text-align:center; ">Estandar</th>
                <th style="border: 1px solid black; text-align:center; ">Inteligente</th>
            </tr>
            <tr>
                <td style="border: 1px solid black;" th:text="${reporteConsumoPromedioPorTipoDeDispositivo.consumoPromedioEstandar}"></td>
                <td style="border: 1px solid black;" th:text="${reporteConsumoPromedioPorTipoDeDispositivo.consumoPromedioInteligente}"></td>
            </tr>
        </table>
    </div>

    <div th:if="${reporteConsumoPorTransformador != null}">
        <table style="width:70%; margin-left:15%; margin-right:15%; text-align:center; background-color:snow; border: 1px solid black;">
            <tr>
                <th style="border: 1px solid black; text-align:center; ">Transformador</th>
                <th style="border: 1px solid black; text-align:center; ">Consumo</th>
            </tr>
            <tr th:each="map : ${reporteConsumoPorTransformador.mapaDeIdYConsumo}">
                <td style="border: 1px solid black;" th:text="${map.key}"></td>
                <td style="border: 1px solid black;" th:text="${map.value}"></td>
            </tr>
        </table>
    </div>

</body>
</html>
